.message-list-transition-wrapper {
    background-color: #d8d8d8;
}

.message-list-wrapper {
    background-color: #eeeeee;
}

.message-container, .message-container.system-message, .message-container.is-expert, .message-container.is-bot, .system-message {
    padding: 10px 14px 10px 14px;
    position: relative;
    clear: both;
    border-radius: 3px;
    text-align: left;
    max-width: 525px;
    max-width: 72%;
    margin-bottom: 8px;
    color: rgba(102, 102, 102, 0.901961);
    font-size: 14px;
    line-height: 1.31;
    font-weight: 400;
    background-color: #ffffff;
    font-family: "Artifakt Element" !important;
    border: 0;
}
.message-container.is-poster {
    padding: 10px 14px 10px 14px;
    margin-right: 39px;
    position: relative;
    clear: both;
    border-radius: 3px;
    text-align: left;
    max-width: 525px;
    margin-bottom: 8px;
    background-color: #0298d9;
    color: #ffffff;
    margin-left: 200px;
}

.expert-carousel {
    box-shadow: none;
}

.system-message.has-sibling + .system-message {

}

.header-container {
    display: none;
}

.response-switcher {
    display: none;
}

.message-container.is-bot blockquote {
    border-left: 1px solid #2f4550;
    margin: 14px 0 4px;
    padding: 3px 0 2px 10px;
    opacity: 1;
}

.ActionBar {
    background-color: #eeeeee;
}

.ActionBar__button {
    border-radius: 3px;
    background-color: #eeeeee;
    color: #0298d9;
    box-shadow: none;
    font-family: "Artifakt Element" !important;
}

.ActionBar__button {
    box-shadow: none;
    background-color: #0298d9;
    color: #eeeeee;
}

.system-message.success.inverted {
    background-color: #00ab80;
    border-color: #00ab80;
}