.message-list-transition-wrapper {
    background-color: #ffffff;
}

.message-container, .system-message {
    background-color: #eef1f3;
    border: 0px !important;
    border-radius: 5px;
}
.message-container.is-poster {
    background-color: #3173b1;
    border-radius: 5px;
}

.header-container {
    display: none;
}