.message-list-transition-wrapper {
    background-color: #ffffff;
    border-top: 1px solid #000000;
}

.message-list > li {
    position: relative;
    margin: 15px 0px 15px 41px;
}

.message-container, .system-message, .message-container.is-expert, .message-container.is-bot {
    background-color: #f3f3f3;
    border: none !important;
    border-radius: 4px;
    margin-bottom: 18px;
    color: #000000;
    font-family: SamsungOne, Helvetica;
    font-size: 14px;
    line-height: 16px;
    margin-right: 0px;
    max-width: 90%;
}

.message-container.is-bot.message-auto-response-confirmation {
    margin-top: 40px;
}
.message-container.is-poster {
    background-color: #00b3e3;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    margin-right: 0;
    margin-left: auto;
}



.message-container.is-poster:after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-width: 10px 0 0 10px;
    border-style: solid;
    border-color: #00b3e3 transparent;
    display: block;
    width: 0;
}




.message-container.is-expert:before, .message-container.is-bot:before,
.system-message.has-sibling.message-alerting-experts-leave-info:before,
.system-message.message-question-rerouted:before {
    display: block;
    width: 74px;
    height: 40px;
    content: "";
    position: absolute;
    bottom: 0px;
    left: -46px;
    background-image: url(../images/samsung-avatar.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.message-container.is-expert:after, .message-container.is-bot:after,
.system-message.message-question-rerouted:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px 10px 0 0px;
    border-style: solid;
    border-color: #f3f3f3 transparent;
    display: block;
    width: 0;
}

.system-message.has-sibling.message-alerting-experts-leave-info:after {
    background-color: #f3f3f3;
    content: "We are notifying top Samsung experts. It usually takes 1-2 minutes.";
    width: 210px;
    position: absolute;
    left: -53px;
    padding: 24px 50px;
    font-size: 10px;
    text-align: center;
}

.system-message.alerting-experts.message-alerting-experts {
    display: none;
}
.message-container.is-bot.message-auto-response:before,
.message-container.is-bot.message-auto-response-confirmation:before {
    bottom: 0px;
}

li > .message-container.is-expert, li > .system-message.alerting-experts,
li > .system-message.message-question-rerouted {
    margin-bottom: 0;
}

.message-container.is-bot {
    margin-right: 30px;
    margin-bottom: 30px;

}

.icon.icon-bell, .icon.icon-arrow-right  {
    display: none;
}

.expert-carousel {
    box-shadow: none;
}

.system-message.has-sibling + .system-message {

}


.message-container.is-bot blockquote {
    border-left: none;
    margin: 14px 0 4px;
    opacity: 1;
    padding: 3px 0 2px 0px;
}

.author img {
    border-radius: 20px;
    height: 32px !important;
    width: 32px !important;
    border: 1px solid #ffffff;
}

.author .reputation span, .system-message.alerting-experts .expert-last-active-date {
    color: #ffffff;
}

.message-container.is-expert .author img {
    height: 38px !important;
    width: 38px !important;
    left: -60px;
    position: relative;
    bottom: -30px;
    border-radius: 20px;
}

.message-container.is-expert .author {
    position: relative;
    top: -24px;
    height: 0;
    margin: 0;
    display: flex;
}

.message-container.is-expert .author .profile {
    margin-left: -46px;
}

.message-container.is-expert .author .profile > div {
    float: left;
}

.message-container.is-expert .author .profile .name-wrapper {
    color: #666666;
    font-size: 12px;
}

.message-container.is-expert .author .profile .reputation span {
    color: #666666;
    line-height: 16px;
    margin-left: 10px;
}

.author {
    display: none;
}

.ActionBar {
    background-color: #ffffff;
}

.ActionBar__button {
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #00b3e3;
    padding: 8px 9px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    font-family: SamsungOne;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #00b3e3;
    margin-left: auto;
    max-width: 84%;
    box-shadow: none;
}

.system-message .icon-avatar img {
    border-radius: 30px;
    border: 1px solid #ffffff;
}

.thread-view-footer {
    border-top: 1px solid #000000;
    box-shadow: none;
}

.thread-view-footer textarea {
    font-family: SamsungOne, Helvetica;
}

.system-message.alerting-experts {
    padding: 0 12px 5px;
}

.header-container {
    /* display: none; */
    background-color: #00b3e3;
}

.header-container .menu {
    display: none;
}

.header-container .thread-view-title-container {
    justify-content: left;
    font-size: 14px;
    font-family: SamsungOne;
    color: #ffffff;
}

.header-container h1 {
    color: transparent;
}

.header-container:after {
    content: "CHAT";
    left: 20px;
    position: absolute;
    color: #ffffff;
}

.header-container .minimize-container {
    background: none;
    border: 0;
}

.header-container .minimize-container .svg-icon {
    color: #ffffff;
}

.response-switcher {
    display: none;
}

.MinimizedView.MinimizedView--AskQuestion {
    display: inline-block;
    line-height: 50px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: #1428a0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 13px 0 rgba(151, 151, 151, 0.5);
    box-shadow: 0 0 13px 0 rgba(151, 151, 151, 0.5);
    cursor: pointer;
    /* padding: 0px 20px; */
    height: 50px;
}

.MinimizedView.MinimizedView--AskQuestion .MinimizedView__icon.svg-icon {
    display: none;
}