.message-list-transition-wrapper {
    background-color: #ffffff;
}

.message-container, .system-message {
    margin-top: 4px !important;
    margin-bottom: 10px !important;
    text-align: left;
    color: #000000 !important;
    border: 0 !important;
    max-width: 90%;
}
.message-container.is-poster {
    background: none repeat scroll 0 0 #DEDEDE;
    padding: 10pt;
    position: relative;
    display: block;
    border-radius: 20px;
    text-align: left;
    margin-right: auto;
    margin-left: 0px !important;
    word-break: break-word;
}

.message-container.is-poster::before {
    display: block;
    width: 31px;
    height: 22px;
    background-color: transparent;
    content: "";
    position: absolute;
    top: auto;
    bottom: -2px;
    left: -4px;
    background: url(../images/tail-customer.png) no-repeat;
    background-size: contain;
}

.message-container.is-expert, .message-container.is-bot, .system-message {
    background: none repeat scroll 0 0 #F2F2F2;
    padding: 11pt;
    position: relative;
    left: 0px;
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 0px !important;
    align-self: flex-end;
    box-sizing: border-box;
    word-break: break-word;
}


.message-container.is-expert::before, .message-container.is-bot::before,
.system-message::before,
.system-message:not(.has-sibling) + .system-message::before {
    display: block;
    width: 31px;
    height: 22px;
    background-color: transparent;
    content: "";
    position: absolute;
    top: auto;
    bottom: -2px;
    right: -5px;
    background: url(../images/tail-agent.png) no-repeat;
    background-size: contain;
}
.expert-carousel {
    box-shadow: none;
}

.system-message.has-sibling + .system-message {
    width: 98%;
    margin-top: 0 !important;
}

.system-message.has-sibling {
    margin-bottom: 0 !important;
}

.system-message .icon,icon-bell, .system-message .icon.icon-arrow-right {
    display: none;
}

.header-container {
    display: none;
}

.response-switcher {
    display: none;
}

.message-container.is-bot blockquote {
    border-left: 1px solid #2f4550;
    margin: 14px 0 4px;
    opacity: 0.8;
    padding: 3px 0 2px 10px;
}

.ActionBar {
    background-color: #ffffff;
}

.ActionBar .ActionBar__button {
    background-color: #ffffff;
    border-radius: 30px;
    border: 3px solid #ffce0a;
    box-shadow: none;
}

.ActionBar > button:first-of-type {
    background-color: #ffce0a;
}