.message-list-transition-wrapper {
    background-color: #ffffff;
}

.message-container, .system-message {
    background-color: #eaf2f9;
    border-radius: 5px;
    margin-bottom: 18px;
    border: 1px solid #bbbbbb;
    color: #000000;
    font-family: "Helvetica";
}
.message-container.is-poster {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    color: #000000;
    box-shadow: 0 0 7px #bbbbbb;
}

.message-container.is-bot {
    border: 1px solid #bbbbbb;
}
.expert-carousel {
    box-shadow: none;
}

.system-message.has-sibling + .system-message {

}

.header-container {
    display: none;
}

.response-switcher {
    display: none;
}

.message-container.is-bot blockquote {
    border-left: 1px solid #2f4550;
    margin: 14px 0 4px;
    opacity: 0.8;
    padding: 3px 0 2px 10px;
}